*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

#ficha{
	height:75%;
	display:flex;
	justify-content:center;
	align-items:center;	
}


#cuadroficha{
	width: 70%;
	height:70%;
	display:flex;
	justify-content: center;
	background-color: rgba(0,0,0,0.6);
}
#fotocuadro{
	height: 50%;
	width: 25%;
	position:relative;
	top: 20%;
	right: 5%;
}
#textocuadro{
	height:70%;
	width: 55%;
	color:white;
	position:relative;
	top:20%;
	font-size: 180%;
}
	