*{
	box-sizing:border-box;
	margin: 0;
	padding: 0;
}

embed{
	height:600%;
	width:100%;
}
	
#cv{
	width:45%;
	height:12%;
	margin:auto;
	display:flex;
	justify-content:center;
	position:relative;
	top: 2%;
	left: 12%;
    	
}
#contacto{
	height:75%;
	display:flex;
	justify-content:flex-start;	
}


#cuadrocontacto{
	position:relative;
	left:4%;
	width: 30%;
	height:50%;
	display:flex;
	flex-direction:column;
	justify-content: space-around;
	background-color: rgba(0,0,0,0.6);
}
.fotocontacto1{
	height: 18%;
	width: 18%;
	position:relative;
	top: 20%;
	left: 10%;
}
#textocontacto{
	height:80%;
	width: 55%;
	color:white;
	position:relative;
	font-size: 180%;
	bottom: 25%;
	left: 30%;
}

